<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>First Node JS App</title>
	<link href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900" rel="stylesheet" />

	<title>Welcome Page</title>

	<style>
		*,
		*::before,
		*::after {
			margin: 0;
			padding: 0;
			box-sizing: inherit;
		}

		html {
			font-size: 62.5%;
			box-sizing: border-box;
		}

		body {
			padding: 5rem 5rem 10rem;
			line-height: 1.7;
			font-family: 'Nunito Sans', sans-serif;
			color: #555;
			min-height: 100vh;
			background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
		}

		a {
			padding: 2rem;
			font-size: 2rem;
			text-decoration: none;
			color: #555;
		}
	</style>
</head>

<body>
	<h1>Hello My First Nodejs App.!!</h1>
	<br>
  <a href="/about">About</a>
  <a href="/contact-me">Contact</a>
  <a href="/blah-blah-blah">Error</a>
</body>
</html>